.nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100%;
    padding: 5px;
    background-color: #494ca2;
}

.filter-input {
    width: 100%;
    height: 3em;
    border: none;
    border-bottom: 1px solid lightgray;
    font-size: 1em;
}

.mail-filter {
    display: flex;
}