@import './book.css';
@import './book-preview.css';
@import './welcome.css';
@import './nav-bar.css';
@import './about.css';
@import './add-review.css';
@import './add-book.css';
@import './review-preview.css';
@import './event-bus.css';
@import './book-filter.css';
@import url('https://fonts.googleapis.com/css?family=Saira+Semi+Condensed&display=swap');
* {
    box-sizing: border-box;
}


/* BASE */

a {
    text-decoration: none;
    margin: 0;
    color: black;
}

body {
    font-family: 'Saira Semi Condensed', sans-serif;
    font-size: 1em;
    margin: 0;
    background-color: #fffdf9;
}

.books-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.books-list a {
    width: 25%;
}

.book-details {
    background-color: #c6cbef;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.book-details li {
    text-align: center;
}

.read-more-btn {
    border: none;
    background: none;
    font-weight: bold;
    font-size: 1em;
}

.read-more-btn:hover {
    cursor: pointer;
    color: #fffdf9;
    outline: 0;
}

.read-more-btn:focus {
    outline: 0;
}

.slide-fade-enter-active {
    transition: all 3s ease;
}

.slide-fade-leave-active {
    transition: all .4s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter,
.slide-fade-leave-to {
    transform: translateX(10px);
    opacity: 0;
}

@media (max-width: 890px) {
    .books-list a {
        width: 50%
    }
}

@media (max-width: 750px) {
    .navbar-btn {
        margin-right: 0.5em;
    }
    .book-filter-input {
        width: 15%;
        font-size: 0.8em;
        padding: 5px;
    }
    .book-filter {
        justify-content: center;
    }
    .book-filter-input.filter-text {
        width: 20%;
    }
}